* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Fira Code', Courier, monospace;
	font-size: 62.5%;
}
:root {
    --main-color: #50fa7b;
}
a {
	text-decoration: none;
	color: inherit;
	font-size: 1rem;
}

li {
	list-style: none;
}
