.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
    color: white;
    border: 1px solid #50fa7b;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    li {
        flex: 1;
    }

    h5 {
        font-size: 15px;
    }
}